<div class="field">
	<div class="heading">
		<label>Date Range</label>
	</div>
	<div id="dateRange" class="input ltr"></div>
</div>

{% js %}
	new Reports.Options.DateRange("#dateRange", {
		startDate: {% if (options.dateRange.startDate ?? null) %} (new Date('{{ options.dateRange.startDate }}')){% else %}null{% endif %},
		endDate: {% if (options.dateRange.startDate ?? null) %} (new Date('{{ options.dateRange.endDate }}')){% else %}null{% endif %},
		selected: '{{ options.dateRange.type ?? 'All' }}',
	});
{% endjs %}